<% include ../include/adminallcss.ejs %>
<title>Admin Panel | Meet Shah</title>
 
            <% include ../include/adminheader.ejs %>      
            

                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Dashboard</li>
                </ul>             


            


                <div class="row">
                    <div class="col-md-12">
                                             
                            <% if (message != '') { %>
                                <p class="text-center text-danger"><%= message %></p>
                            <% } %>
                            <form  class="form-horizontal" action="" method="post" enctype="multipart/form-data">

                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h3 class="panel-title">Add Products</h3>
                                    </div>
                                    
                                    <div class="form-group"> <Br><br><Br><br>
                                        <label class="col-md-3 col-xs-12 control-label">First Name </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
                                            </div>
                                            <span class="help-block">Enter First Name</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Last Name </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
                                            </div>
                                            <span class="help-block">Enter Last Name</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">User Name </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                                            </div>
                                            <span class="help-block">Enter User Name</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Mobile No </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="number" class="form-control" name="number" id="number" placeholder="Number" required>
                                            </div>
                                            <span class="help-block">Enter Mobile No</span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Choose position </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <select id="position" name="position" class="form-control" required>
                                                    <option selected disabled>Choose position</option>
                                                    <option>Goalkeeper</option>
                                                    <option>Centre Back</option>
                                                    <option>Right Back</option>
                                                    <option>Left Back</option>
                                                    <option>Defensive Midfielder</option>
                                                    <option>Central Midfielder</option>
                                                    <option>Attacking Midfielder</option>
                                                    <option>Right Wing Forward</option>
                                                    <option>Left Wing Forward</option>
                                                    <option>Striker</option>
                                                </select>
                                            </div>
                                            <span class="help-block">Select position</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Image </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                            
                                                <input type="file" name="image"  class="" required>
                                            </div>
                                            <span class="help-block">Enter Image</span>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <button type="submit" class="btn btn-primary pull-right">Add Blogs</button> 
                        
                                    </div>

                                </div>
                            
                            </form>
                        </div>
                    </div>


    
<% include ../include/adminallscript.ejs %>  


