<% include ../include/adminallcss.ejs %>
<title>Admin Panel | Meet Shah</title>
  
            
            <% include ../include/adminheader.ejs %>      
            
           

                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Dashboard</li>
                </ul>             

              

        
        <% include ../include/adminallscript.ejs %>  
  